 #add{font-weight:bold; text-align: center;color:red;}
 #subtraction{font-weight:bold; text-align: center;color:green;}
 #multiply{font-weight:bold; text-align: center;color:purple;}
 #divide{font-weight:bold; text-align: center;color:darkblue}
